<!-- <div id="chat-toggle">
        <span><img src="https://i.imgur.com/JT5IAtx.png"></span>
      </div>
      <nav id="main-chat">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
       -->