
<div id="edit-site-toggle">
    <span><img src="https://i.imgur.com/PpDUWIu.png"></span>
</div>
<nav id="edit-site-partial">
    <div class="chatbox">
        <h5>Chat With Other Martian Robots!</h5>
        <input type="text" id="message" placeholder="Message">
        <button class="btn btn-mars">Send</button>
        <ul id="chat-list"></ul>
    </div>
    <script>
    console.log("Chatbox JS Loaded")
var socket = io()
var $message = $('#message')
var $sendChat = $('#send-chat')
var $chatList = $('#chat-list')

$sendChat.on("click", () => {
    var data = { message: $message.val()}
    socket.emit("sendmessage", data)
    $message.val("")
    $message.focus()
})

socket.on('receivemessage', (data) => {
    $chatList.prepend(`<li> <%= currentUser.name %> said the following: ${data.message}  </li>`)
})
    </script>
</nav>