<div id="menu-toggle">
    
  <span><img src="https://i.imgur.com/VrP8frG.png"></span>
</div>
<nav id="main-navigation">
  <ul>
    <li><a href="users/login">Log In</a></li>
    <li><a href="signup">Sign Up</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
