<div id="edit-site-toggle">
        <span><img src="https://i.imgur.com/PpDUWIu.png"></span>
    </div>
    <nav id="edit-site-partial">
        <ul>
            <li><a href="#">Chat</a></li>
        </ul>
        <div class="chatbox">
            <h1>Please Log In To Use The Chat Function!</h1>
</div>