<div id="edit-site-toggle">
        <span><img src="https://i.imgur.com/PpDUWIu.png"></span>
    </div>
    <nav id="edit-site-partial">
        <div class="chatbox">
        <h5>Please Log In To Use The Chat Function!</h5>
</div>