<div class="branded-title">
    <div class="icon"></div>
    <h1>Red Rover</h1>
</div>

<h3> Welcome to Red Planet! </h3>
<h5> The One Stop Shop for Robots Like You to Chat and Review Popular Mars Destinations</h5>

<% Sites.forEach((s) => { %>
    <div class="card text-primary" style="margin-bottom: 2rem">
        <div class="card-body">
            <h4 class="card-title"> <%= s.name %> </h4>
            <p class="card-text"> <%= s.body %> </p>
            <a href="/sites/<%= s._id %>" class="btn btn-mars">Go Check it Out</a>
        </div>
    </div>
    <% }) %>
    
<% if(loggedIn) { %>
    <% include ./partials/chatbox %>
<% } else { %>
    <% include ./partials/nochat %>
<% } %>