body, html {
    margin: 0;
    padding: 0;
    background-image: url("https://i.imgur.com/MXZOUlM.jpg");
    background-size: contain;
    background-color: #cccccc;
    color: white;
  }

  #main-navigation {
    font-family: 'Audiowide' !important;
    height: 100vh;
    background: rgb(45, 44, 44);
    width: 200px;
    transform: translateX(-100%);
    transition: all .5s;

  }

  h1 {
    font-family: 'Audiowide' !important;
    text-align: center;
  }

  #main-navigation ul {
    margin: 0;
    padding-top: 50px;
  }

  #main-navigation.open {
    transform: translateX(0%);
  }
  #menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
  }

  #menu-toggle span {
    display: inline-block;
    transition: all .5s;
  }

  #menu-toggle span img {
    width: 30px;
    transition: all .5s;
  }

  #menu-toggle.active span {
    transform: translateX(150px);
  }

  #menu-toggle.active span img {
    transform: rotateZ(-180deg);
  }

  nav ul {
    text-decoration: none;
    list-style-type: none;
  }

  nav li {
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 20px;
  }
  nav a {
    text-decoration: none;
    color: rgb(242, 36, 0);
  }

 /* ----------------------------------------------- */
/* 
 #main-chat {
  float: right;
  height: 100vh;
  background: #444;
  width: 300px;
  transform: translateX(-100%);
  transition: all .5s;
}

#main-chat ul {
  float: right;
  margin: 0;
  padding-top: 50px;
}

#main-chat.open {
  float: right;
  transform: translateX(0%);
}

#chat-toggle {
  float: right;
  top: 10px;
  left: 10px;
  z-index: 100;
}

#chat-toggle span {
  float: right;
  display: inline-block;
  transition: all .5s;
}

#chat-toggle span img {
  float: right;
  width: 30px;
  transition: all .5s;
}

#chat-toggle.active span {
  float: right;
  transform: translateX(-250px);
}

#chat-toggle.active span img {
  float: right;
  transform: rotateZ(180deg);
} */

