body, html {
    margin: 0;
    margin-bottom: 150px;
    padding: 0;
    background-image: url("https://i.imgur.com/JsEEFAE.jpg");
    background-size: cover;
    background-color: #cccccc;
    color: white;
  }

  .btn-mars {
    background-color: rgb(255, 141, 1);
    color: white;
  }
   
  .btn-delete {
    background-color: orangered;
    color: white;
  }

  .icon {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: orangered;
    margin-top: 50px;
  }
  h1 {
    font-family: 'Audiowide' !important;
    text-align: center;
    font-size: 35px;
    padding-top: 8px;
  }

  .branded-title {
    position: relative;
  }
  .branded-title h1 {
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  a {
    text-decoration: none;
    color: white;
    padding-right: 25px;
    font-size: 16px;
  }

  a:hover {
    text-decoration: none;
    color:orange;
  }

  .right {
    float: right;
  }

  p {
    font-family: 'Ubuntu' !important;
    color: black;
  }

  h4 {
    font-family: 'Audiowide' !important;
    color: orange;
  }
  h3 {
    font-family: 'Audiowide' !important;
    color: orange;
    text-align: center;
    margin: 50px;
  }

  h5{
    font-family: 'Ubuntu' !important;
    text-align: center;
    margin-bottom: 40px;
  }

  .center-img {
    margin: 40px 0;

  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 688px;
  }

  /* NAV BAR PARTIAL */
  /* ------------------------------------------------------------------------------------------- */

  #main-navigation {
    font-family: 'Audiowide' !important;
    height: 100vh;
    background: rgb(38, 38, 38);
    width: 200px;
    transform: translateX(-100%);
    transition: all .5s;
    position: fixed;
    top: 0;
  }

  #main-navigation ul {
    margin: 0;
    padding-top: 50px;
  }

  #main-navigation.right-open {
    transform: translateX(0%);
  }
  #menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
  }

  #menu-toggle span {
    display: inline-block;
    transition: all .5s;
  }

  #menu-toggle span img {
    width: 75px;
    transition: all .5s;
  }

  #menu-toggle.right-active span {
    transform: translateX(115px);
  }

  #menu-toggle.right-active span img {
    transform: rotateZ(-180deg);
  }

  nav ul {
    text-decoration: none;
    list-style-type: none;
  }

  nav li {
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 18px;
  }
  nav a {
    text-decoration: none;
    color:white;
  }

  nav a:hover {
    text-decoration: none;
    color:orange;
  }

  nav h5 a {
    color:orange;
    font-family: 'Audiowide' !important;
    text-align: left;
    font-size: 24px;
    float: left;
    margin-top: 10px;
  }
  nav h5 a:hover {
    color:orangered;

  }

  .home {
    margin-top: 70px;
  }

/* EDIT SITE PARTIAL */
/* -------------------------------------------------------------------------------------------- */

#edit-site-partial {
  font-family: 'Audiowide' !important;
  height: 100vh;
  background: rgb(38, 38, 38);
  width: 250px;
  right: 0;
  transform: translateX(100%);
  transition: all .5s; 
  position: fixed;
  top: 0; 
}

 #edit-site-partial ul {
  margin: 0;
  padding-top: 50px;
}

#edit-site-partial.left-open {
  transform: translateX(0%);
}

#edit-site-toggle {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 100;
}

#edit-site-toggle span {
  transition: all .5s;
  float: right;
} 


#edit-site-toggle span img {
  width: 75px;
  transition: all .5s;
}
 
#edit-site-toggle.left-active span {
  transform: translateX(-165px);
}

#edit-site-toggle.left-active span img {
  transform: rotateZ(180deg);
}

.form-group{
  padding: 5px 15px;
  font-family: 'Ubuntu' !important;
}

.edit-site-btn {
  margin-top: 20px;
  font-family: 'Audiowide' !important;
}

nav h5 {
  padding-top: 35px;
}
/* FOOTER PARTIAL */
/* -------------------------------------------------------------------------------------------- */


.footer {
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer a {
  margin-left: 25px;
}



/* CHAT PARTIAL */
/* -------------------------------------------------------------------------------------------- */
.chatbox h5 {
  color: orange;
  margin-top: 60px;
  font-size: 18px;
  margin-bottom: 20px;

}

.chatbox {
  padding: 5px 20px;
  font-family: 'Ubuntu' !important;
}

input {
  width: 220px;
  margin-bottom: 20px;
}

/* -------------------------------------------------------------------------------------------- */

.btn-delete {
  float: right;
}